.profile-box{
    width:100%;
    align-items: center;
    padding:2vh 9vw 10vh;
    height:calc(100%-10vh);
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.profile-box>h5{
    font-size: 0.6em;
}
.profile-box p{
    font-size: 0.4em;
    color:grey;
}
.profile-body{
    width:100%;
    padding:2vh 0.2vw;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:2vw
}
.profile-body>div{
    display: grid;
    gap:0.2vh;
    padding:3vh 1vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.profile-body>div>b{
    font-size: 0.4em;
    letter-spacing: 1px;
    color:#3f846a ;
}
.profile-body>div>input{
    height: 5vh;
    font-size:0.3em ;
}
.edit-btn{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.edit-btn>button{
    font-size:0.4em;
    background-color: #3f846a;
    border-radius: 6px;
    border: none;
    width:30%;
    height:5vh;
    cursor: pointer;
    color:#fff;
    letter-spacing: 1px;
    font-weight: 500;
}