.nav-parent{
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.3vw 2vw 0.3vw 8vw;
    height:9vh;
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    z-index:1;

    & .company-name{
        font-size: 0.74em;
        letter-spacing:0.05vw;
        font-weight: 700;
        color:#3f846a;
        font-variant: small-caps;
    }

    & .nav-buttons{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:7vw;

        & a::after{
            content:'';
            width:0%;
            position:absolute;
            border-bottom: 3px solid #3f846a;
            bottom:-3px;
            transition: all 0.6s linear;
            left:0;
        }

        & a:hover:after{
            width:100%;
        }
       
    }
}


 .nav-buttons>a{
            display: inline;
            position:relative;
            font-size: 0.26em; 
            letter-spacing: 1px;
            text-decoration: none;
            padding: none;
            color:grey;
            transition: all 1s  linear  ;
        }

.nav-buttons>a:nth-of-type(5){
    font-size: 0.43em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    cursor: pointer;
}

.nav-buttons>a:nth-of-type(5)::after{
    display: none;
}